[Driver]
type: android

[AppiumCapabilities]
automationName: Appium
platformName: Android
deviceName: Android Emulator
browserName:
# OpenShop.io is an open-source mobile E-commerce platform created by Business Factory (http://b.cz/)
# OpenShopIo.apk is the compiled app for Android (https://github.com/openshopio/openshop.io-android)
app: https://github.com/Telefonica/toolium-examples/blob/master/resources/OpenShopIo.apk?raw=true&fake=.apk
appWaitActivity:
