toolium
nose
needle                # visual tests
ddt                   # data-driven tests
#unittest2             # lettuce tests
#colorama==0.3.2       # lettuce tests
#lettuce               # lettuce tests
