toolium
nose
ddt==1.0.0     # data-driven tests
behave         # behave tests
behave-pytest  # pytest assertions in behave tests
pytest==2.9.2  # behave-pytest is not compatible with pytest 3
lettuce        # lettuce tests
needle==0.4.1  # visual testing
