# Playwright does not work in CentOS: https://github.com/microsoft/playwright/issues/9199
#toolium[playwright]~=3.7
toolium~=3.7
behave==1.3.3  # behave tests
pytest==9.0    # pytests tests
nose2==0.15.1  # nose2 tests
ddt==1.7.2     # data-driven in nose2 tests
# temporal requirement until toolium includes playwright with pytest
# Playwright does not work in CentOS: https://github.com/microsoft/playwright/issues/9199
#pytest-playwright==0.7.2  # playwright tests
